*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
font-family: 'PT Sans', sans-serif;
color: white;


}
body{
    background-color: rgba(0, 0, 0,0.3);
}
#container{
margin: 10px;
display: flex;
flex-wrap: wrap;
transition:  all 1s ease-in-out;

}
.product-img{
    width:"280px";
    height:"280px";
}
.img{
    margin: 3px;
}
.product{
    border-radius: 10px;
    font-size: 1.2em;
    background-color: rgba(37, 37, 37, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3px;
}
.filterbox{
    display: flex;
    justify-content: center;
    align-items: center;
   
}
#filtertext{
    margin: 15px;
    padding: 5px;
    border: 0.1px black solid;
    font-size: 1.3em;
    outline: none;
    border-radius: 5px;
    color: black;

}
